/* NAV */
html, body {
  margin: 0;
  padding: 0;
}

.center-title {
  text-align: center;
}

.center-title img {
  width: 50px;
  margin-bottom: -10px;
  padding-top: 20px;
}

#nav {
	padding: 0; margin: 0;
	text-align: center; /* centrer le texte */
	background-color: #231942;
    overflow: hidden;
}
#nav li {
	display: inline;
	list-style: none;
}
#nav a {
	display:inline-block;
	margin: 0 10px;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px; 
}
#nav a:hover {
  color: rgb(170, 128, 135);
}

.active {
  background-color: pink;
} 

/* CAROUSSEL */
.pic-ctn {
  width: 100vw;
  height: 200px;
}

@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

.pic-ctn {
  position: relative;
  width: 100vw;
  height: 300px;
  margin-top: 8vh;
}

.pic-ctn > img {
  position: absolute;
  top: 0;
  left: calc(50% - 380px);
  opacity: 0;
  animation: display 10s infinite;
}

img:nth-child(2) {
  animation-delay: 2s;
}
img:nth-child(3) {
  animation-delay: 4s;
}
img:nth-child(4) {
  animation-delay: 6s;
}
img:nth-child(5) {
  animation-delay: 8s;
}


/* TEXT */
.center-title {
  text-align: center;
}

/* IMG */
.resizing-img-index {
  width: 820px;
}